* {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* 가로 스크롤 제거 */
}

header {
  text-align: center;
  line-height: 50px;
  background-color: rgb(48, 47, 47);
  padding: 30px;
  color: white;
  height: 15%;
}

header > h2 > a {
  font-size: 35px;
  color: white;
  text-decoration: none;
}

header > input {
  width: 800px;
  height: 40px;
  border-radius: 10px;
  border-color: aliceblue;
  outline: none;
  margin-top: 10px;
}

input::placeholder {
  padding-left: 7px;
  font-size: 15px;
  vertical-align: middle;
}

header > p > a {
  margin-top: 15px;
  font-size: 12px;
  color: white;
  text-decoration: none;
}

/* contents부분 */

main {
  /* height: 100vh; */
  background-color: rgb(246, 242, 236);
  text-align: center;
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 230px 230px 230px 230px 230px 230px;
  grid-template-rows: 1fr 1fr 1fr;
  /* background-color: rgb(168, 226, 226); */
  /* border: 3px solid black; */
  border-radius: 5px;
  grid-gap: 30px;
  margin-top: 50px;
}

.item {
  width: 230px;
  height: 370px;
  border: 1px black; /* 각 항목 간의 선 색상 및 두께 */
  border-radius: 12px;
  box-shadow: 10px 10px 20px rgb(54, 53, 53);
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item:hover {
  cursor: pointer;
}

.item > p {
  text-align: left;
  padding-left: 8px;
  line-height: 25px;
}

.movie_img {
  width: 228px;
  height: 300px;
}

.movie_name {
  margin-top: 5px;
  font-weight: bolder;
  font-size: clamp(12px, 2vw, 15px);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cus_avg {
  color: gray;
  font-weight: bold;
  font-size: 12px;
}

/* modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;

  display: none;

  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.8);
  overflow: auto;
}

.modal.active {
  display: flex;
}

.modal_body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  justify-content: center;
  align-items: center;
  border-radius: 20px;

  display: flex;
  width: 600px;
  /* height: auto; */
  background-color: white;
  flex-direction: column;
  padding: 20px;
  max-height: 90%; /* 최대 높이 설정 */
  overflow-y: auto; /* 세로 스크롤 추가 */
  text-align: left;
}

.modal_body > p {
  text-align: left;
  align-self: flex-start;
  margin: 0px;
  margin-top: 20px;
  /* border: 1px solid red; */
}

.modal_body > .movie_name {
  font-size: 25px;
  font-weight: bold;
}

.modal_body > img {
  padding-top: 50px;
  /* text-align: center; */
  width: 600px;
  height: auto;
  border-radius: 10px;
  overflow: auto;
  align-self: center;
}

#search_btn {
  width: 60px;
  height: 41px;
  border-radius: 10px;
  transition: 300ms ease-in-out, color 300ms ease-in-out;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

#search_btn:hover {
  box-shadow: 0 0 40px 40px rgb(48, 47, 47) inset;
  color: white;
}

#close_btn {
  border: none;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10px; /* 상단에서 10px 떨어진 위치 */
  right: 10px; /* 오른쪽에서 10px 떨어진 위치 */
  transition: 300ms ease-in-out, color 300ms ease-in-out;
  background-color: white;
  border-radius: 50px;
  font-size: 20px;
  cursor: pointer;
}

#close_btn:hover {
  cursor: pointer;
  box-shadow: 0 0 40px 40px black inset;
  color: white;
}

#back_btn {
  display: none;
  width: 60px;
  height: 41px;
  border-radius: 10px;
  transition: 300ms ease-in-out, color 300ms ease-in-out;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  transition: 300ms ease-in-out, color 300ms ease-in-out;
}

#back_btn:hover {
  box-shadow: 0 0 40px 40px rgb(48, 47, 47) inset;
  color: white;
}

#add_bookmark {
  width: 95%;
  height: 55px;
  margin-top: 20px;
  font-weight: bold;
  align-self: center;
  transition: 300ms ease-in-out, color 300ms ease-in-out;
  cursor: pointer;
}

#add_bookmark:hover {
  box-shadow: 0 0 40px 40px rgb(48, 47, 47) inset;
  color: white;
}
