* {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* 가로 스크롤 제거 */
}

header {
  text-align: center;
  line-height: 50px;
  background-color: rgb(48, 47, 47);
  padding: 30px;
  color: white;
  height: 15%;
}

header > h2 {
  font-size: 35px;
}

header > input {
  width: 800px;
  height: 40px;
  border-radius: 10px;
  border-color: aliceblue;
  outline: none;
  margin-top: 10px;
}

input::placeholder {
  padding-left: 7px;
  font-size: 15px;
  vertical-align: middle;
}

header > p {
  margin-top: 15px;
  font-size: 12px;
}

/* contents부분 */

main {
  /* height: 100vh; */
  background-color: bisque;
  text-align: center;
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 230px 230px 230px 230px 230px 230px;
  grid-template-rows: 1fr 1fr 1fr;
  /* background-color: rgb(168, 226, 226); */
  /* border: 3px solid black; */
  border-radius: 5px;
  grid-gap: 15px;
  margin-top: 30px;
}

.item {
  width: 230px;
  height: 370px;
  border: 3px solid black; /* 각 항목 간의 선 색상 및 두께 */
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item > p {
  text-align: left;
  padding-left: 8px;
  line-height: 25px;
}

.movie_img {
  width: 228px;
  height: 300px;
}

.movie_name {
  margin-top: 5px;
  font-weight: bolder;
  font-size: clamp(12px, 2vw, 15px);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cus_avg {
  color: gray;
  font-weight: bold;
  font-size: 12px;
}

/* modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;

  display: none;

  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.8);
}

.modal.active {
  display: flex;
}

.modal_body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-direction: row;

  /* align-items: center; */

  width: 600px;
  height: 700px;
  background-color: bisque;
}

#close_btn {
  width: 50px;
  height: 50px;
  background-color: white;
}

#close_btn:hover {
  cursor: pointer;
  background-color: gray;
}
